@keyframes gradientshift {
	0%  {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn, nav ul li a {
    text-decoration: none;
    transition: background .3,color .3s
}

header {
    background-color: #1a1a1a;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
    border-bottom: 3px solid #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: none;
    justify-content: center;
    overflow-x: auto;
}
nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}
nav ul li a:hover {
    background: #fff;
    color: #000;
}

.hero {
    margin: 50px auto;
    padding: 40px;
    max-width: 600px;
    background: #1a1a1a;
    box-shadow: 0 0 15px rgba(255, 255, 255,.5);
    animation: 1s ease-in-out fadeIn;
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.container {
    width: 350px;
    margin:auto;
    border: 1px solid #000;
    text-align: center;
    padding: 15px;
    background-color: #383838;
}

.container h2 {
    color: #000000;
}

.container span {
    color: #000000;
    text-shadow: 1px 1px #000;
}

input {
    width: 80%;
    height: 36px;
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin-bottom: 12px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #bbb;
    background: #eef2f3;
}

button {
    background-color: #999fa3;
    color: white;
    font-size: 1.2rem;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}